:root {
  --main-bg-color: #000;
  --pink: #ff0571;
  --yellow: #c2ff05;
  --green: #1eff05;
  --turq: #1cedae;
  --red: #ff0534;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  text-align: center;
  font-size: 3.5vw;
}

main {
  border: 2px var(--pink) solid;
  margin: 2%;
}

section {
  border: 2px var(--pink) solid;
  margin: 2%;
  color: var(--pink);
}

.flex_container {
  display: flex;
  flex-direction: row;
  border: var(--yellow) 2px solid;
}

.flex_container > div {
  border: var(--pink) 2px solid;
}

.wrap_container {
  display: flex;
  flex-wrap: wrap-reverse;
  height: 100%;
  width: 100%;
  border: var(--yellow) 2px solid;
}

.wrap_container > div{
  height: 200px;
  width: 60px;
  border: var(--pink) 2px solid;
}

.alin_container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: var(--yellow) 2px solid;
  justify-content: center;
  align-items: center;
}

.alin_container > div {
  border: var(--pink) 2px solid;
  width: 20px;
  height: 20px;
}

.alin_item_container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: var(--yellow) 2px solid;
  justify-content: center;
  align-items: center;
}

.alin_hijo  {
  border: var(--pink) 2px solid;
  width: 20px;
  height: 20px;
  align-self: flex-start;
}

.grow_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border: var(--yellow) 2px solid;
}

.grow_container div:nth-of-type(1) {flex-grow: 1;}
.grow_container div:nth-of-type(2) {flex-grow: 4;}
