* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.layout {
  display: grid;
  gap: 4px;
  grid-template-rows: 40px 40px auto 60px 60px 40px;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header' 'sidebar' 'main' 'widget' 'statistics' 'footer';
  height: 100vh;
  border: 1px black solid;
  padding: 0;
}

@media (min-width: 480px) {
  .layout {
    display: grid;
    grid-template-rows: 40px auto 80px 40px;
    grid-template-columns: 160px auto auto;
    grid-template-areas: 
      'header header header'
      'sidebar main main'
      'sidebar widget statistics'
      'footer footer footer';

  }
}

header {
  grid-area: header;
  background: blueviolet;
}

footer {
  grid-area: footer;
  background: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  grid-area: sidebar;
  background: orange;
}

main {
  grid-area: main;
  background-color: chartreuse;
}
.widget {
  grid-area: widget;
  background-color: coral;
  width: 100%;
}

.statistics {
  grid-area: statistics;
  background-color: cornflowerblue;
  width: 100%;
}